PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sistema_escolar
JWT_SECRET=troque_este_valor
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@sistema.local
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
SECRETARIA_PADRAO_NOME=Secretaria Municipal de Educação
SECRETARIA_PADRAO_MUNICIPIO=Vicente Dutra
SECRETARIA_PADRAO_UF=RS
